body {
  position: relative; /* we need this for the scrollspy */
}

/* NAV */

.fixed-side-navbar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99999;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fixed-side-navbar:hover {
  background: transparent;
}
.fixed-side-navbar:hover .nav > li > a > span {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 15px;
}
.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: black;
}
.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fixed-side-navbar .nav > li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
}
.nav>li {
  position: relative;
  display: block;
}
.fixed-side-navbar .nav > li a {
  color: #fff;
  min-height: 32px;
  background: transparent;
  padding: 5px 45px 5px 25px;
  border-right: none;
}
.fixed-side-navbar .nav > li a span {
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.fixed-side-navbar .nav > li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.fixed-side-navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  border-right: 0;
}
.fixed-side-navbar .nav > li a:hover > span {
  color: black;
  display: block;
}

.spd-content {
  width: 100%;
  min-height: 100vh;
}

.baner-content {
  width: 100%;
  min-height: 100vh;
  background: #013DA5;
}

.service-content {
  background: #000;
  min-height: 100vh;
}

.contact-content {
  background: #F3F4F8;
}
.survey-form-header {
  background: #013DA5;
}


.font-weight-600 {
  font-weight: 600 !important;
}

.text-btn {
  color: #4C2C92;
}

th {
  background-color: #000;
  border: 0px solid #000 !important;
  color: #5c79e0;
}

tr {
  border: 6px solid #000;
  background-color: #171717 !important;
}

footer {
  background-color: #282b2f;
}

@media (max-width: 767px){
  .service-content {
    padding-top: 5vh;
    text-align: center;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

text {
  pointer-events: none;
}
.grandparent text {
  font-weight: bold;
}

rect {
  stroke: #fff;
  stroke-width: 0.4px;
}

.grandparent:hover rect {
  fill: grey;
}

.grandparent {
  cursor: pointer;
}

.textdiv {
  font-size: 14px;
  padding: 7px;
  overflow:none;
}
.textdiv .title {
  font-size: 102%;
  font-weight: bold;
  margin-top: 8px;
  font-size:11px !important;
}
.textdiv p{
  line-height: 13px;
  margin:0 0 4px !important;
  padding:0px;
  font-size:10px !important;
}

foreignObject.foreignobj {
    color: #fff;
}

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  max-width: 300px;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
}
